 {
  color: white;
  background: black;
  margin: 0px;
  font-fambodyily: "Chakra Petch", sans-serif;
}

header {
  border-bottom: solid 2px rgb(3, 3, 3);
  padding: 20px;
  font-size: 32px;
  color: rgb(0, 0, 0);
}

.chamada {
  background: rgb(231, 224, 224);
  padding-bottom: 80px;
  padding-top: 80px;
  display: flex;
  justify-content: center;
}

.chamada-texto {
  margin-right: 5%;
}

h1 {
  font-size: 40px;
}

p {
  font-size: 20px;
}

img {
  height: 200px;
}

.categoria-videos {
  display: flex;
  overflow-x: auto;
  gap: 10px;
}

.categoria {
  padding-left: 20px;
  padding-right: 20px;
}

.categoria-videos img